MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=mini_amp
MYSQL_USER=amp_user
MYSQL_PASSWORD=amppassword
MYSQL_PORT=3307
KAFKA_PORT=9092
KAFKA_UI_PORT=8081

# Registrar Credentials (Optional overrides)
REGISTRAR_DYNADOT_API_KEY=mock-key
REGISTRAR_DYNADOT_BASE_URL=https://api.dynadot.com/api3.json
REGISTRAR_GODADDY_API_KEY=godaddy-key
REGISTRAR_GODADDY_API_SECRET=godaddy-secret
REGISTRAR_GODADDY_BASE_URL=https://api.godaddy.com